
@{
    Layout = null;
}

<a asp-controller="Default" asp-action="Urunler">Ürünler Sayfası</a>
<a asp-controller="Default" asp-action="Musteriler">Müşteriler Sayfası</a>

<h1>Merhaba</h1>
<h3>Merhaba</h3>

<h4>@ViewBag.mes1</h4>
<h4>@ViewBag.mes2</h4>
<h4>@ViewBag.mes3</h4>
<hr />
<h4>Toplam: @ViewBag.sonuc</h4>
<h4>Çevre: @ViewBag.sonuc2</h4>
<h4>Çevre: @ViewBag.sonuc3</h4>
<hr />
<h4>@ViewBag.v</h4>
<h4>@ViewBag.user</h4>
<hr />
<h4>@ViewBag.toplamsonuc</h4>