@{
    Layout = null;
}

<a asp-controller="Default" asp-action="Index">Index</a>
<a asp-controller="Default" asp-action="Musteriler">Müşteriler Sayfası</a>

<h1>Ürünler Sayfası</h1>


<h4>@ViewBag.mes1</h4>
<h4>@ViewBag.mes2</h4>
<h4>@ViewBag.mes3</h4>
<hr />
<h4>@ViewBag.user</h4>
<hr />
<h4>Faktoriyel: @ViewBag.faktor</h4>